@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.accordion-dropshadow {
  box-shadow: 0px 106px 250px 0px #00000014;
}

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: #ffbb0a;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.review-box {
  border: 0.67px solid #ffbb0a;
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

body::-webkit-scrollbar {
  display: none;
}

.show-event-hero {
  filter: blur(50px) brightness(0.9);
}

.helpful-link:hover div {
  background-color: rgba(255, 187, 10, 0.1);
}
.slideshow {
  background: linear-gradient(
    90.99deg,
    rgba(0, 0, 0, 0.6) 29.42%,
    rgba(0, 0, 0, 0.16) 76.18%
  );
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

input[type="password"]::-moz-svg-anonymous {
  display: none;
}

input[type="password"]::-ms-reveal {
  display: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.event-grid .share-button {
  opacity: 0;
}

.event-grid:hover .share-button {
  opacity: 1;
}

/* tiptap.css */
.prose ol {
  list-style-type: decimal;
  margin-left: 1.5rem; /* adjust as needed */
}
.prose ul {
  list-style: disc;
  margin-left: 1.5rem;
}

.prose p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 2.2;
}

.hover-text-button:hover span:nth-child(1) {
  transform: translateY(-20px);
}
.hover-text-button:hover span:nth-child(2) {
  transform: translateY(0px);
}

.our-apps-menu {
  box-shadow: 0px 106.29px 503.27px 0px rgba(0, 0, 0, 0.08);
}
.profile-menu:hover .profile-chevron {
  transform: translateY(2px);
}
.truncate-2-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.review-box {
  border: 0.67px solid #ffbb0a;
}
.light-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) -144.57%,
    #ffffff 60.33%
  );
}
